.bg-F28705 {
    background-color: #F28705 !important;
  }

.bg-CD4F40{
    background-color: #F8EDE5 !important;
}

.bg-F8EDE5{
    background-color: #F8EDE5 !important;
}
.bg-62330F{
    background-color: #62330F !important;
}

.logo img{
    position:absolute;
    margin-top: 15px;
    margin-left: 10px;
}
.logo{
    transform: translateY(-2px);
}
.carousel-caption h5{
    font-size: 65px;
    color: #62330F;
    text-shadow: 2px 2px 2px #F8EDE5;
}

section,footer,table,p{
    margin: 40px;
}

h1{
    font-size: 40px;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    background-color: #f4a50e;
    color: #151918;
    text-transform: capitalize;
    font-style: verdana;
}

h2{
    font-size: 54px;
    color: #62330F;
    padding: 0%;
    font-weight: 600;
}

a{text-decoration: none;
    background-color: #F28705;
    color: #62330F;
    border-radius: 100px;
    padding:5px 20px;
}
a:hover {
    color: #F8EDE5;}

li{color: #07915c;}